<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/HotelTV" version="2.1.2" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="RIUoPw47ST.HotelTV" package="RIUoPw47ST" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>HotelTV</name>
    <tizen:privilege name="http://tizen.org/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/productinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
