
.messagecont {
	background-image: url(bg_message.jpg);
}

.msgitemlistzone {
	display: block;
	float: left;
	width: 500px;
	height: 540px;
	margin-top: 150px;
	overflow: hidden;
}

#msgitemlist {
	height: 5000px;
}

.msgitemlist a {
	background: url(bg_msg.png) no-repeat;
	display: block;
	width: 500px;
	height: 150px;
	padding: 10px 20px;
	margin: 10px 0;
}

.msgitemlist a span {
	font-size: 60px;
}

.msgitemlist a div {
	font-size: 30px;
	letter-spacing: 3px;
	width: 350px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.msgitemlist a:hover , .msgitemlist a.currentFocus {
	background: url(bg_msg_new.png) no-repeat;	
}

.msgitemlist a:hover div, .msgitemlist a.currentFocus div {
		width: 500px;
}

#msgitemzone {
	width: 1172px;
	height: 757px;
	overflow: hidden;
	background: url(bg_msgbk.png) no-repeat;
	margin-top: 150px;
	margin-left: 650px;
	color: black;
}

#msgitemzone span{
	display: block;
	font-size: 24px;
	float: right;
	margin-right: 200px;
	margin-top: 100px;
}
#msgitemzone div{
	display: block;
	width: 1100px;
	height: 540px;
	margin: 180px auto 0 30px;
	font-size: 30px;
}



