

.music-title {
	font-size: 48px;
	color: white;
	padding: 50px 200px 0 200px;
	line-height: 100px;
}

.music-list-cont {
	width: 1600px;
	height: 640px;
	margin: 0 160px;
	overflow: hidden;
}
.music_list {
	width: 1600px;
	height: 3000px;
	overflow: hidden;
	display: block;
	position: relative;
}
.music-list span{
	width: 392px;
	height: 320px;
	display: block;
	float: left;
}
.music-list a{
	width: 340px;
	height: 220px;
	display: inline-block;
	margin: 0px 0 0 20px;
	background-repeat: no-repeat;
	/*background-position: -30px -30px;*/
	border: solid black 10px;
	border-radius:20px; 
}
.music-list a:hover, .music-list a.currentFocus{
	border: solid #09f 10px;
}
.music-list div{
	font-size: 32px;
	color: white;
	text-align: center;
}

.music-panel {
	width: 1380px;
	height: 200px;
	margin: 20px auto 20px 300px;
	overflow: hidden;
	padding-top: 30px;
	padding-right: 20px;
}

.music-panel a, .music-panel span{
	display: inline-block;
	width: 230px;
	height: 70px;
	font-size: 28px;
	line-height: 50px;
	overflow: hidden;
	color: #09f;
	padding-left: 110px;
	background-repeat: no-repeat;
	background-position: 10px 5px;
	border: solid transparent 5px;
	border-radius:10px; 
}
.music-panel a:hover,.music-panel a.currentFocus{
	border: solid #09f 5px;
}

#music_ok {
	float: left;
	background-image: url(../image/music_ok.png);
	background-repeat: no-repeat;
	background-position: 50% 10px;
	width: 180px;
	height: 60px;
	margin: 0 20px 0 50px;
	padding-top: 90px;
	padding-left: 0px;
	text-align: center;
	font-size: 32px;
	color: #09f;
}

#music_pp {
	background-image: url(../image/music_pp.png);
	background-repeat: no-repeat;
	background-position: 50% 10px;
	width: 180px;
	height: 60px;
	margin: 0 20px 0 50px;
	padding-top: 90px;
	padding-left: 0px;
	text-align: center;
	font-size: 32px;
	color: #09f;
}
#music_stop{
	background-image: url(../image/music_stop.png);
	background-repeat: no-repeat;
	background-position: 50% 10px;
	width: 180px;
	height: 60px;
	margin: 0 20px 0 50px;
	padding-top: 90px;
	padding-left: 0px;
	text-align: center;
	font-size: 32px;
	color: #09f;
}
#music_y {
	background-image: url(../image/btn_red.png);
}
#music_g{
	background-image: url(../image/music_g.png);
}
#screen_up{
	background-image: url(../image/music_next.png);
}
#screen_dn{
	background-image: url(../image/music_prev.png);
}




