body{margin:0;padding:0;font-family:'微软雅黑';background: black;width:1920px;height:1080px;overflow:hidden;}
a{text-decoration:none; color: #ddd;}
a:focus {outline: none;}
.main{position: relative; width:1920px;height:1080px;overflow:hidden;color: #ddd;}
.dr{ border: solid red 1px;}
.db{ border: solid blue 1px;}
.dy{ border: solid yellow 1px;}

.maincont{
	width:1920px;height:1080px;overflow: hidden;
	background-repeat: no-repeat;
}

.remoter-tips { 
	position: absolute;
	bottom: 0px;
}
.maintitle {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 280px;
	height: 80px;
	font-size: 50px;
	line-height: 80px;
	text-align: right;
	overflow: hidden;
}

.timedatebar {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 200px;
	text-align: left;
}

.timebar {
	font-size: 65px;
}
.datebar {
	font-size: 24px;
}

.leftmenu {
	width: 280px;
	height: 1080px;
	display: block;
	float: left;
	background: url(../image/bg_food_menu.png) center no-repeat;
	position: relative;;
}
.hotkeytips {
	position: absolute;
	width: 280px;
	bottom: 300px;
	margin-left: 50px;
	margin-bottom: 20px;
}
.hotkeytips img {
	vertical-align: middle;
}
.hotkeytips span {
	vertical-align: middle;
	font-size: 30px;
	line-height: 40px;
	color: #bbb;
}
