
.flightcont {
	width:1920px;height:1080px;overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(bg_train.jpg);
}

.leftmenu {
	width: 500px; height: 800px; overflow: hidden;
}

.selectmenu {
	margin: 40px 30px 0px 90px;
}

.selectmenu label {
	display: block;
	font-size: 32px;
	padding-left: 10px;
}
.selectmenu a {
	display: block;
	color: #888;
	font-size: 28px;
	line-height: 75px;
	height: 75px;
	width: 345px;
	padding-left: 30px;
	background: url(rightok.png) no-repeat transparent;
}
.selectmenu a.currentFocus{
	color: black;
	background: url(rightokh.png) no-repeat transparent;
}

.choicebtn {}
.choicebtn a {
	display: block;
	float: right;
	width: 184px;
	height: 83px;
	margin-top: 40px;
	margin-right: 50px;
	text-align: center;
	font-size: 40px;
	line-height: 70px;
	color: white;
	background: url(btnbg.png) no-repeat transparent;
}

.choicebtn a.currentFocus {
	background: url(btnbgh.png) no-repeat transparent;	
}

.airlist {
	position: absolute;
	top: 40px;
	left: 500px;
	width: 1600px;
	height: 1000px;
}

.airlist table {
	width: 100%;
	border-width: 0px;
	border-collapse: 0px;
	border-spacing:  0px;
	color: #333;
	text-align: center;
	font-size: 26px;
	line-height: 50px;
}

.airlist tr:nth-child(odd) {
	/*background-color: #d4e0f0;*/
	background: url(10_gray.png);
}

.airlist tr:nth-child(even) {
	background-color: #fff;
}


.airlist thead tr:nth-child(1) {
	color: white;
	/*background-color: #0054a0;*/
	background: url(10_blue.png);
	height: 80px;
	vertical-align: middle;
	font-weight: normal;
}

.airlist thead tr:nth-child(2) {
	background: url(10_gray.png);
	text-align: center;
	color: #bbb;
	line-height: 35px;
}

.prevbtn {
	position: absolute;
	top: 900px;
	left: 400px;
}
.prevbtn a{
	background: url(prevbtn.png) no-repeat;
	display: block;
	overflow: hidden;
	width: 90px;
	height: 110px;
}

.prevbtn a.currentFocus ,.prevbtn a:hover{
	background: url(prevbtnh.png) no-repeat;
}

.nextbtn {
	position: absolute;
	top: 900px;
	left: 1800px;
}
.nextbtn a {
	background: url(nextbtn.png) no-repeat;
	display: block;
	overflow: hidden;
	width: 90px;
	height: 110px;
}

.nextbtn a:hover, .nextbtn a.currentFocus {
	background: url(nextbtnh.png) no-repeat;
}

