
.maincate {
	width: 550px;
	margin: 280px auto 0 auto;
	text-align: center;
}

.maincate a{
	display: block;
	font-size: 45px;
	line-height: 140px;
	text-align: center;
	width: 530px;
	height: 136px;
	overflow: hidden;
	letter-spacing: 5px;
	background: url(../image/bg_l_btn.png) no-repeat;
}

.maincate a:hover, .maincate a.currentFocus{
	background: url(../image/bg_l_btnh.png) no-repeat;
}

.catelist{
	height:660px;
	overflow:hidden;
	padding-top: 100px;
}
.catelist a {
	color: white;
	display: block;
	font-size: 42px;
	line-height: 90px;
	padding-left: 120px;
}
.catelist a:hover , .catelist a.currentFocus {
	color: #0bf;
	background: url(../image/cate_bg.png) no-repeat;
}

.catlistSel {
	background: url(../image/cate_bg_c.png) no-repeat;	
}

.movielist {
	margin: 40px auto 0 auto;
	overflow: hidden;
}

.movielist a {
	float: left;
	display: block;
	text-align: center;
	width: 230px;
	height: 280px;
	margin: 20px 0;
}
.movielist a img {
	display: block;
	width: 170px;
	height: 240px;
	margin: 0 20px;
}
.movielist a span {
	display: block;
	font-size: 28px;
}

.movielist a:hover img , .movielist a.currentFocus img {
	box-shadow: 0px 0px 15px 15px #09f;
}

.pagenum {
	position: absolute;
	bottom: 30px;
	left: 800px;
	font-size: 36px;
	color: #0bf;
	line-height: 40px;
	display: block;
	text-align: center;
}


.movie-img {
	width: 340px;
	height: 485px;
	display: block;
	margin: 30px auto 0px;
}

.movie-title {
	margin: 10px 10px 10px 20px;
	font-weight: lighter;
}

.movie-level {
	display: block;
	float: left;
	margin-right: 50px;
}

.movie-title1 {
	display: block;
	font-size: 46px;
	line-height: 60px;
	height: 60px;
	overflow: hidden;
	margin-top: 20px;
}

.movie-title2 {
	display: block;
	font-size: 36px;
	height: 40px;
	overflow: hidden;
}

.movie-info {
	clear:both;
	margin-left: 30px;
	font-size: 36px;
	line-height: 45px;
	height: 350px;
	overflow: hidden;
}

.movie-info span {
	display: inline-block;
	vertical-align: top;
}


.show-main {
	margin: 20px auto 0 400px;
	width: 1360px;
	height: 100%;
	overflow-x: hidden;
}

.show-img {
	width: 340px;
	height: 485px;
	display: block;
	float: left;
	margin: 140px 0px 0px 70px;
}

.show-level {
	float: right;
	display: block;
	margin: 130px 200px 0px 0px;
}

.show-info {
	margin: 140px 140px 0px 420px;
	line-height: 45px;
}


.show-info a {
	font-size: 32px;
	color: #fff;
	display: table-cell;
	width: 280px;
	height: 160px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	background: url(../image/btn.png) center no-repeat;
}

.show-info a:hover , .show-info a.currentFocus {
	background: url(../image/btn_h.png) center no-repeat;
}


.show-title1 {
	font-size: 40px;
	line-height: 50px;
	height: 50px;
	padding-left: 40px;
	overflow: hidden;
}

.show-title2 {
	font-size: 32px;
	height: 35px;
	padding-left: 40px;
	overflow: hidden;
}

.show-items{
	font-size: 28px;
	margin: 30px 0px 0px 30px;
	height: 240px;
	overflow: hidden;
}

.show-item{
	display: block;
	line-height: 40px;
}

.show-item span{
	display: inline-block;
	vertical-align: top;
}

.show-info2 {
	font-size: 28px;
	margin: 0px 50px 0px 60px;
	line-height: 45px;
}

.show-info2 span{
	display: inline-block;
	line-height: 40px;
	width: 100%;
}

.passinput {
	text-align: center;
	margin: 300px auto auto auto;
	width: 632px;
	height: 360px;
	overflow: hidden;
	background: url(../image/bg_password.png) center no-repeat;
	font-size: 50px;
	line-height: 80px;
	padding-top: 120px;
}
.passinput span {
	display: inline-block;
	margin: 40px 0 0 0;
	width:  92px;
	height: 80px;
	font-size: 60px;
	color: black;
}


