@font-face {
	font-family: 'Zawgyi-One';
	src: url('ZawGyi-One.ttf');
}

i{ font-style:normal;font-family: "Zawgyi-One"}

.leftmenu a{
	width: 300px;
	height: 100px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 10px 0px;
	background-image: url(btn.png);
	padding-left: 120px;
	line-height: 100px;
	vertical-align: middle;
}

.leftmenu a img {
	position: absolute;
	left: 10px;
	width: 100px;
	height: 100px;
}
.leftmenu a:focus, .leftmenu a:hover , .leftmenu a.currentFocus{
	background-image: url(btnh.png);
}

 

.mainlistpage {
	margin-top: 40px;
	width: 1235px;
	text-align: right;
}


.mainpanel {
	position: absolute;
	top: 125px;
	left: 80px;
	width: 1729px;
	height: 909px;
	background: url(mainbg.png) no-repeat;
}

.vodposter {
	position: absolute;
	top: 50px;
	left: 40px;
	float: left;
	width: 400px;
	height: 570px;
}

.starandprice {
	position: absolute;
	top: 50px;
	right: 100px;
}

.pricezone {
	font-size: 50px;
	text-align: center;
	margin: 10px 0;
}

.detailzone {
	position: absolute;
	top: 50px;
	left: 460px;
	width: 1250px;
	height: 560px;
}

.alllabel {
	display: inline-block;
	font-size: 32px;
	padding-right: 20px;
	margin: 0px;
	width: 180px;
	height: 40px;
	text-align: right;
}
.titlelabel {
	background: #a09003;
}
/*
.allzone {
	font-size: 30px;
	display: inline-block;
	color: white;
	margin: 10px 0 10px 30px;
	text-align: left;
	overflow:hidden;

	
}*/
.intro {
	font-size: 30px;
	display: inline-block;
	color: white;
	margin: 10px 0 10px 30px;
	text-align: left;
	overflow:hidden;
	 display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;	
}

.about {
	font-size: 30px;
	display: inline-block;
	color: white;
	margin: 0 0 10px 30px;
	text-align: left;
}
.directorlabel {
	background: #16c660;
}

.starlabel {
	background: #1692c6;
}


.plotlabel {
	background: #9c39c0;
}

.plotzone {
	font-size: 24px;
	color: white;	
	height: 200px;
	margin: 10px 0;
}

.detailzone a {
	display: inline-block;
	font-size: 23px;
	padding: 5px 20px;
	margin: 10px 10px;
}

.detailzone a img {
	vertical-align: top;
	padding-top: 3px;
	padding-left: 5px;
	height: 18px;
}

.detailzone a:focus,.detailzone a.currentFocus {
	box-shadow: 0 0 5px 5px yellow;
}

.favbtn {
	background: green;
	width: 120px;
	height: 30px;
	text-align: center;
	overflow-x: hidden;
	position: relative;
}
.favbtn img {
	position: absolute;
	z-index: 100;
	right: 10px;
}
.playbtn {
	background: blue;
	width: 120px;
	height: 30px;
	text-align: center;
	overflow-x: hidden;
	position: relative;
}
.playbtn img {
	position: absolute;
	z-index: 100;
	right: 10px;
}

.seriesplay {
	border-top: solid white 1px;
	position: absolute;
	width: 1680px;
	height: 260px;
	top: 640px ;
	left: 20px;
	overflow: hidden;	
}
.seriesplay a {
	display: inline-block;
	font-size: 23px;
	padding: 5px 20px;
	margin: 10px 10px;
}

.seriesplay a img {
	vertical-align: top;
	padding-top: 3px;
	padding-left: 5px;
	height: 18px;
}

.seriesplay a:focus , .seriesplay a.currentFocus {
	box-shadow: 0 0 5px 5px red;
}


.relatelink {
	border-top: solid white 1px;
	position: absolute;
	width: 1680px;
	height: 260px;
	top: 640px ;
	left: 20px;
	overflow: hidden;
}

.relatelink a {
	display: inline-block;
	width: 190px;
	height: 240px;
	overflow: hidden;
	margin: 10px;
}

.relatelink a:focus, .relatelink a.currentFocus{
	box-shadow: 0 0 5px 5px #0080ff;
}

.relatelink a img {
	width: 180px;
	height: 230px;
	margin: 5px;
}
